<a href="" class="close-list">Close</a>
<form class="add-item">
  <h1>{{title}}</h1>
  <input type="hidden" name="content[list_id]" value="{{id}}">
  <input class="item-search" name="item[name]" id="item[name]" type="text" placeholder="What are you packing?" required>
  <button type="submit">Add item</button>
</form>
<ul class="list-items" data-id="{{id}}">
  {{#each contents}}
  <li data-id="{{id}}" {{#if packed}}class="packed"{{/if}}>
    <input type="checkbox" {{#if packed}}checked{{/if}} class="pack-content">
    {{item.name}} 
    <a href="" class="delete-content">Delete</a>
  </li>
  {{/each}}
</ul>
