<form class="add-item" data-id="{{id}}">
  <div class="list-header">
    {{> listHeader}}
  </div>
  <input type="hidden" name="content[list_id]" value="{{id}}">
  <input class="item-search" name="item[name]" id="item[name]" type="text" placeholder="What are you packing?" required>
  <button type="submit"><i class="fa fa-plus-circle" aria-hidden="true"></i></button>
</form>
<ul class="list-items" data-id="{{id}}">
  {{#if contents}}
    {{#each contents}}
    <li data-id="{{id}}" {{#if packed}}class="packed"{{/if}}>
      <input type="checkbox" {{#if packed}}checked{{/if}} class="pack-content">
      {{item.name}} 
      <a href="" class="delete-content"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
    </li>
    {{/each}}
  {{else}}
    <p>Looks like your packing list is empty. Start typing in the box above to add items.</p>
  {{/if}}
</ul>
